<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="initial-scale=1.0">
      <meta http-equiv="refresh" content="5;URL='http://127.0.0.1:8000/point'">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      var infoWindow;
      var marker;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: {lat: 26 , lng: 78}
        });
        if ({{cm}} != null && {{cn}} != null){
        var setContent='<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<div id="bodyContent">'+
      '<p><b>SHASHANK</b></p>' +
      '</div>'+
      '</div>';
        var infoWindow = new google.maps.InfoWindow({
        content:setContent
        });
        infoWindow.setPosition({lat: {{cm}}, lng: {{cn}}});
        infoWindow.open(map);

        var marker = new google.maps.Marker({
          position: {lat: {{cm}}, lng: {{cn}}},
          title: 'YOUR EXACT LOCATION',
          animation:google.maps.Animation.DROP,
          map: map
        });
        console.log({lat: {{cm}}, lng: {{cn}}})
        map.setCenter({lat: {{cm}}, lng: {{cn}}});
       }
       }


    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuCQItK2CtSoafNZkJduTGgsjGfGi2Fw4&callback=initMap">
    </script>
  </body>
</html>